@import url("./plugin/colorbox.css");
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.ptb {
    padding-top: 110px;
    padding-bottom: 110px;
}

.spacer-30 {
    width: 100%;
    height: 30px;
}

.spacer-60 {
    width: 100%;
    height: 60px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.nf-col-4 .nf-item {
    width: 16.6%;
    min-height: 1px;
}

.nf-item.spacing{
    padding: 0px;
}

@media (max-width: 991px) {
    .ptb-sm-80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .nf-col-4 .nf-item{
      width:33.3%;
    }
}

/* ----------------------------------------------------------------------*/
/* Portfolio   --------------------------------------------------------- */
/* ----------------------------------------------------------------------*/
.container-filter {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

    .container-filter li {
        list-style: none;
        display: inline-block;
    }

        .container-filter li a {
            display: block;
            margin-left: 15px;
            margin-right: 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            font-weight: 600;
            font-family: 'Raleway', sans-serif;
        }

            .container-filter li a.active {
                color: #e6ae49;
            }

.item-box {
    position: relative;
    overflow: hidden;
    display: block;
}

    .item-box a {
        display: inline-block;
    }

    .item-box:hover .item-mask {
        opacity: 1;
        visibility: visible;
    }

 .item-bg {
    opacity: 1;
    visibility: visible;
     background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
     height: 30%;
     position: absolute;
     transition: all 0.5s ease-in-out 0s;
     -moz-transition: all 0.5s ease-in-out 0s;
     -webkit-transition: all 0.5s ease-in-out 0s;
     -o-transition: all 0.5s ease-in-out 0s;
     width: 100%;
     top: 75%;
     left: 0;
     overflow: hidden;
}

        .item-box:hover .item-mask .item-caption {
            bottom: 30px;
            opacity: 1;
        }

    .item-box:hover .item-container {
        transform: scale(1.1);
        transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
        width: 100%;
    }

.item-container {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    width: 100%;
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.item-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

    .item-mask h5, .item-mask h6, .item-mask p {
        margin-bottom: 0px;
    }

    .item-mask p {
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1.5px;
        font-weight: 400;
        margin-top: 0;
        text-align: left;
    }

    .item-mask .item-caption {
        color: #fff;
        position: absolute;
        bottom: -60px;
        left: 0px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        opacity: 0;
    }

.project-detail-block p {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul.project-detail-block, .project-detail-block ul {
    padding-left: 0;
}

.project-detail-block li {
    list-style: none;
}

.project-detail-block p strong {
    display: inline-block;
    width: 110px;
}

.item-nav {
    text-align: center;
    display: block;
    overflow: hidden;
}

    .item-nav .item-prev, .item-nav .item-next, .item-nav .item-all-view {
        position: relative;
        display: inline-block;
    }

        .item-nav .item-all-view h5, .item-nav .item-all-view h6 {
            transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
        }

            .item-nav .item-all-view h5:hover, .item-nav .item-all-view h6:hover {
                color: #e6ae49;
            }

        .item-nav .item-prev .prev-btn, .item-nav .item-next .next-btn, .item-all-view {
            display: inline-block;
            font-size: 25px;
            text-align: center;
            height: 51px;
            line-height: 51px;
            transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
        }

        .item-nav .item-prev .prev-btn, .item-nav .item-next .next-btn {
            color: #323232;
            background: #fff;
            width: 51px;
        }

        .item-nav .item-prev:hover .prev-btn, .item-nav .item-next:hover .next-btn {
            background: #f7f7f7;
            /*color: #fff;*/
        }

    .item-nav .item-prev {
        text-align: left;
        float: left;
    }

    .item-nav .item-next {
        text-align: right;
        float: right;
    }

        .item-nav .item-prev .item-prev-text, .item-nav .item-next .item-next-text {
            position: absolute;
            line-height: 51px;
            top: 10px;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            width: 150px;
        }

        .item-nav .item-prev:hover .item-prev-text, .item-nav .item-next:hover .item-next-text {
            margin-left: 0;
            margin-right: 0;
            visibility: visible;
            opacity: 1;
        }

    .item-nav .item-prev .item-prev-text {
        left: 100%;
        margin-left: -110px;
        padding-left: 15px;
    }

    .item-nav .item-next .item-next-text {
        right: 100%;
        margin-right: -110px;
        padding-right: 15px;
    }

        .item-nav .item-prev .item-prev-text p, .item-nav .item-prev .item-prev-text h5, .item-nav .item-prev .item-prev-text h6,
        .item-nav .item-next .item-next-text p, .item-nav .item-next .item-next-text h5, .item-nav .item-next .item-next-text h6 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        .item-nav .item-prev .item-prev-text h5, .item-nav .item-prev .item-prev-text h6,
        .item-nav .item-next .item-next-text h5, .item-nav .item-next .item-next-text h6,
        .item-nav .item-all-view h5, .item-nav .item-all-view h6 {
            padding-top: 8px;
        }

